<!-- <div class="card">
  <div class="flex flex-wrap gap-3 mb-5">
      <p-radioButton 
          *ngFor="let option of positionOptions" 
          [name]="option.label" 
          [value]="option.value" 
          [label]="option.label" 
          [(ngModel)]="position" 
          [inputId]="option.label" />
  </div>
  <div class="dock-window">
      <p-dock [model]="items" [position]="position">
          <ng-template pTemplate="item" let-item>
              <img [src]="item.icon" [alt]="item.label" width="100%" />
          </ng-template>
      </p-dock>
  </div>
</div> -->

<div class="card flex flex-column align-items-center overflow-hidden">
  <div class="flex flex-column align-items-center gap-2">
      <span class="text-xl font-medium">Scroll Down</span>
      <span class="slidedown-icon h-2rem w-2rem bg-primary border-circle inline-flex align-items-center justify-content-center">
          <i class="pi pi-arrow-down"></i>
      </span>
  </div>
  <div class="h-30rem"></div>
  <div pAnimateOnScroll enterClass="fadein" leaveClass="fadeout" class="flex box shadow-4 justify-content-center align-items-center h-10rem w-10rem sm:h-15rem sm:w-15rem border-round animation-duration-1000">
      <span class="text-3xl font-bold">fade-in</span>
  </div>
  <div class="h-30rem"></div>
  <div pAnimateOnScroll enterClass="fadeinleft" leaveClass="fadeoutleft" class="flex box shadow-4 justify-content-center align-items-center h-10rem w-10rem sm:h-15rem sm:w-15rem border-round animation-duration-1000 animation-ease-in-out">
      <span class="text-3xl font-bold">fade-left</span>
  </div>
  <div class="h-30rem"></div>
  <div pAnimateOnScroll enterClass="fadeinright" leaveClass="fadeoutright" class="flex box shadow-4 justify-content-center align-items-center h-10rem w-10rem sm:h-15rem sm:w-15rem border-round animation-duration-1000 animation-ease-in-out">
      <span class="text-3xl font-bold">fade-right</span>
  </div>
  <div class="h-30rem"></div>
  <div pAnimateOnScroll enterClass="zoomin" leaveClass="fadeout" class="flex box shadow-4 justify-content-center align-items-center h-10rem w-10rem sm:h-15rem sm:w-15rem border-round animation-duration-1000">
      <span class="text-3xl font-bold">zoom</span>
  </div>
  <div class="h-30rem"></div>
  <div pAnimateOnScroll enterClass="flipleft" leaveClass="fadeout" class="flex box shadow-4 justify-content-center align-items-center h-10rem w-10rem sm:h-15rem sm:w-15rem border-round animation-duration-1000 animation-ease-in-out">
      <span class="text-3xl font-bold">flip-left</span>
  </div>
  <div class="h-30rem"></div>
  <div pAnimateOnScroll enterClass="flipup" leaveClass="fadeout" class="flex box shadow-4 justify-content-center align-items-center h-10rem w-10rem sm:h-15rem sm:w-15rem border-round animation-duration-1000 animation-ease-in-out">
      <span class="text-3xl font-bold">flip-y</span>
  </div>
  <div class="h-30rem"></div>
  <div pAnimateOnScroll enterClass="scalein" leaveClass="fadeout" class="flex box shadow-4 justify-content-center align-items-center h-10rem w-10rem sm:h-15rem sm:w-15rem border-round animation-duration-1000 animation-ease-in-out">
      <span class="text-3xl font-bold">scalein</span>
  </div>
</div>

<!-- <div class="dashDiv">
    <h1>sgf</h1>
    <div class="chart1"> -->
        <!-- <ag-charts style="border-radius: 25px !important" [options]="chartOptions"></ag-charts> -->
    <!-- </div>

    <div class="dashboard-container">
        <div class="battery-chart"> -->
          <!-- Insert Battery Histogram Chart -->
          <!-- <canvas id="batteryChart"></canvas>
        </div>
      
        <div class="metrics">
          <div class="elevation">Elevation: 639 KM</div>
          <div class="temperature">Temperature: 297 K</div>
          <div class="gauge"> -->
            <!-- Speedometer Gauge -->
            <!-- <ngx-gauge
              type="semi"
              [value]="27.7"
              [max]="40"
              [min]="0"
              [thick]="15"
              label="Speed"
              append="KM/H"
            ></ngx-gauge>
          </div>
        </div>
      
        <div class="time-display">Time: 07:59</div>
      
        <div class="coordinates">
          <div>Latitude: 0020.1271</div>
          <div>Longitude: 0109.6000</div>
        </div>
      
        <div class="status"> -->
          <!-- Other status indicators -->
          <!-- <div class="fuel-level">Fuel Level: 81%</div>
          <div class="battery-level">Battery Level: 79%</div>
        </div>
      </div>
      
</div>

<div class="card">
  <p-menubar [model]="menubarItems">
      <ng-template pTemplate="start">
          <i class="pi pi-apple px-2"></i>
      </ng-template>
      <ng-template pTemplate="end">
          <i class="pi pi-video px-2"></i>
          <i class="pi pi-wifi px-2"></i>
          <i class="pi pi-volume-up px-2"></i>
          <span>Fri 13:07</span>
          <i class="pi pi-search px-2"></i>
          <i class="pi pi-bars px-2"></i>
      </ng-template>
  </p-menubar>
  <div class="dock-window dock-advanced">
      <p-dock [model]="dockItems" position="bottom">
          <ng-template pTemplate="item" let-item>
              <img [src]="item.icon" [alt]="item.label" width="100%" />
          </ng-template>
      </p-dock>

      <p-toast position="top-center" key="tc" />

      <p-dialog 
        
          [breakpoints]="{ '960px': '50vw' }" 
          [style]="{ width: '30vw', height: '18rem' }" 
          [draggable]="false" 
          [resizable]="false">
              <p-tree [value]="nodes" />
      </p-dialog>

      <p-dialog 
          [maximizable]="true" 
          
          [breakpoints]="{ '960px': '50vw' }" 
          [style]="{ width: '30vw' }" 
          [draggable]="false" 
          [resizable]="false">
              <p-terminal 
                  welcomeMessage="Welcome to PrimeNG (cmd: 'date', 'greet {0}', 'random')" 
                  prompt="primeng $" />
      </p-dialog>

      <p-galleria
         
          [showThumbnails]="false"
          [showThumbnailNavigators]="false"
          [showItemNavigators]="true"
         
          [circular]="true"
          [responsiveOptions]="responsiveOptions"
          [containerStyle]="{ 'max-width': '850px' }"
          [circular]="true"
          [fullScreen]="true"
      >
          <ng-template pTemplate="item" let-item>
              <img [src]="item.itemImageSrc" style="width: 100%; display: block;" />
          </ng-template>
      </p-galleria>
  </div>
</div> -->
