/* @import "primeng/resources/themes/lara-light-blue/theme.css"; */
@import "primeng/resources/primeng.css";
/* @import "primeng/resources/themes/luna-blue/theme.css"; */
/* @import "primeng/resources/themes/arya-blue/theme.css"; */
/* @import "primeng/resources/themes/saga-blue/theme.css"; */
/* @import "primeng/resources/themes/viva-dark/theme.css"; */
@import "primeng/resources/themes/lara-dark-teal/theme.css";
/* @import "primeng/resources/themes/bootstrap4-dark-blue/theme.css"; */

:root {
    /* Default (light) theme */
    --primary-color: #3498db;
    --background-color: #ffffff;
    --selected-color:rgb(169, 167, 167);
    --text-color: #333;
    --wholebg:#F1F3F4;
    --main-text:#000000;
  }
  
  [data-theme="dark"] {
    --primary-color: #3498db;
    --background-color: #232323;
    --selected-color:rgb(169, 167, 167);
    --text-color: #ffffff;
    --wholebg:#000000;
    --main-text:#ffffff;
    --radio-selected-text:black;
    --drop-text:white ;
  }
  
  /* Additional theme example */
  [data-theme="light"] {
    --primary-color: #3498db;
    --background-color: #ffffff;
    --selected-color:rgb(169, 167, 167);
    --text-color: #333;
    --wholebg:#F1F3F4;
    --main-text:#000000;
    --radio-selected-text:white;
    --drop-text:white;
  }
  [data-theme="blue"]{
    --primary-color: #3498db;
    --background-color: rgb(213, 231, 255);
    --selected-color:rgb(169, 167, 167);
    --text-color: #333;
    --wholebg:#F1F3F4;
    --main-text:#000000;
    --radio-selected-text:white;
    --drop-text:white;
  }
  
  *{
      margin: 0;
      /* background-color: black; */
      font-family: "Gowun Batang", serif;
    font-weight: 400;
    font-style: normal;
  }
  body{ 
      background-color:var(--wholebg);
  }
  html, body { height: 100%; }
  body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
  .ubuntu-light {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  *, h4{
    font-family: "Ubuntu", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  .ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .ubuntu-medium {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .ubuntu-bold {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .ubuntu-light-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .ubuntu-regular-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .ubuntu-medium-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .ubuntu-bold-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: italic;
  }

