<main>

    <div id="ol-map" class="map-container"></div>
    <img src="../../assets/one.png" alt="Floating Image 1" class="floating-image1" (click)="mapChange('OpenCycleMap')">
    <img src="../../assets/four.png" alt="Floating Image 2" class="floating-image2" (click)="mapChange('Transport')">
    <img src="../../assets/six.png" alt="Floating Image 3" class="floating-image3" (click)="mapChange('Landscape')">
    <img src="../../assets/five.png" alt="Floating Image 4" class="floating-image4" (click)="mapChange('Outdoors')">
    <img src="../../assets/two.png" alt="Floating Image 5" class="floating-image5" (click)="mapChange('TransportDark')">
    <img src="../../assets/thre.png" alt="Floating Image 6" class="floating-image6" (click)="mapChange('Spinal Map')">


    <div class="powered">
        <div class="image"></div>
        <span>Powered by Tridel Technologies Pvt, Ltd.,</span>
    </div>

    @if (lastBuoyRangeState !== '') {
    <div class="bouy1">
        {{ lastBuoyRangeState }}
    </div>
    }

    @if (lastWarningState !== '') {
    <div class="bouy2">
        {{lastWarningState}}
    </div>
    }

    <!-- <div class="check">
        <input type="checkbox" name="Show Trackpaths" (click)="togglePaths()">
        <p>Click to show Track Path</p>
    </div> -->
</main>